.home-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f8fa;
}

.top-box {
    background-color: #0A182E;
    color: white;
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4vh;
    padding-left: 20px;
}

.title-box {
    display: flex;
    justify-content: space-between;
    padding-top: inherit;
}

.home-text {

    font-size: 28px;
}

.avatar {
    margin-right: 20px;
}

.home-functions {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
    gap: 10px;
}

.function-button{
    background-color: white;
    border-style: solid;
    border-color: black;
    width: 165px;
    height: 130px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.input-text{
    color: black;
    text-transform: initial;
    font-size: 20px;
}
.input-text-low{
    color: #999999;
    text-transform: initial;
    font-size: 15px;
}